NEXT_PUBLIC_SUPABASE_URL=https://pdznfxhcgkyvmmiocrag.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkem5meGhjZ2t5dm1taW9jcmFnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUzODY2MTUsImV4cCI6MjEwMDk2MjYxNX0.FUETce6Dc4M2VT9lJ_Am7dJJMX1ZX4Tb4fv51j9-oq0
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=checklist-photos
